.navbar {
  border: solid 1px #e8e8e8 !important;
  margin-bottom: 40px;
}

.navbar-brand {
  width: 15rem !important;
  height: 2.313rem !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.875rem !important;
  font-weight: bold !important;
  color: #0290ff !important;
  margin-left: 100px !important;
}

.padding-nav {
  padding-bottom: 20px !important;
}

.books {
  display: inline-block !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 20px;
  letter-spacing: 1.9px;
  color: #121212 !important;
  margin-top: 20px !important;
  margin-right: 50px !important;
}

.book {
  margin-bottom: 20px !important;
}

.catagory-select {
  opacity: 0.5;
  font-size: 20px;
  width: 150px;
  margin-top: 27px;
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 1.9px;
  color: #121212;
}

.right-icon {
  border: solid 1px rgb(211, 211, 211);
  border-radius: 50%;
  font-size: 20px;
  color: #0290ff !important;
}

.category {
  margin: 0;
  color: #121212;
  font-weight: bold;
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
}

.title {
  margin: 0;
  color: #121212;
  font-family: "Montserrat", sans-serif !important;
  font-size: 24px;
}

.author {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  color: #0290ff;
  font-size: 14px;
}

.action-span {
  color: #4386bf;
}

.action-span input {
  background-color: white;
  border: none;
  color: #4386bf;
}

.span-right-border {
  border-right: solid 1px rgb(211, 211, 211);
}

.progress-box {
  position: relative;
  width: 72px;
  height: 72px;
}

.progress-box svg {
  position: relative;
  width: 72px;
  height: 72px;
}

.progress-box svg circle {
  width: 100px;
  height: 100px;
  fill: none;
  stroke-width: 6px;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 189;
  stroke-dashoffset: 189;
  stroke-linecap: round;
}

.progress-box svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.progress-box svg circle:nth-child(2) {
  stroke-dashoffset: calc(189 - (189 * 50) / 100);
  stroke: #03a9f4;
}

.progress-text h3 {
  margin: 0 0 4px 15px;
  font-family: "Montserrat", sans-serif !important;
  font-size: 32px;
  color: #121212;
}

.progress-text h4 {
  margin-left: 15px;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
  color: #121212;
}

.chapter h3 {
  margin-top: 3px;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif !important;
  font-size: 13px;
  font-weight: 300;
  color: #121212;
}

.chapter h2 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.4px;
  margin-top: 3px;
  color: #121212;
}

.chapter input {
  font-family: "Montserrat", sans-serif !important;
  width: 200px;
  padding: 7px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  background-color: #0290ff;
  margin-top: 12px;
  border: none;
}

.form-container h3 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

.form-container input[type="text"] {
  width: 600px;
  font-size: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #e8e8e8;
  padding: 5px 12px;
  display: inline-block;
  color: #c4c4c4;
  margin-right: 20px;
}

.form-container select {
  width: 400px;
  font-size: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #e8e8e8;
  padding: 9px 12px;
  display: inline-block;
  color: #c4c4c4;
  margin-right: 20px;
}

.form-container input[type="submit"] {
  font-family: "Montserrat", sans-serif !important;
  width: 250px;
  padding: 6px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  background-color: #0290ff;
  margin-top: 12px;
  border: none;
}

.footer h3 {
  color: #c4c4c4;
}
